
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400;700&family=Permanent+Marker&display=swap')
    
$acento_luminoso: #f9f9f9
$luminoso_principal: #ababc7
$principal: #bc799d
$oscuro_secundario: #30335a
$oscuro_principal: #202433




$letra_acentos : 'Permanent Marker', cursive
$letra_principal : 'Biryani', sans-serif





