.navbar
   height: 5vh
   display: flex
   align-items: center
   justify-content: space-between
   flex-direction: row
   background-color: basic.$oscuro_principal
   font-size: 20px
   font-weight: bold 
   a    
      color: basic.$principal 
      text-decoration: none
      margin: 20px
      
   .list_navbar       
      ul
         display: flex  
         align-items: space-between  
         list-style: none
      li
         margin: 20px
         width: max-content //evita que se pierda palabras si un enlace tiene más de una ('sobre mí')
         
   .navbar_logo
      color: basic.$principal  
