.searchFrame    
    display: flex
    flex-direction: column  
    padding: 0 6vw
    color: var(--color_color_letras)
    height: 20vh
    .search_div    
        margin-top: 2vw 
        margin-bottom: 1vw      
        display: flex
        flex-direction: row    
        justify-content: space-between  
        border-block-end: 1px solid var(--color_color_letras)
        gap: 5vh 
        .fa-magnifying-glass //da estilo a la lupa de la barra de búsqueda
            font-size: 1.5rem
            margin-right: 10px
        .search_input 
            width: 70vw  
            padding-left: 10px  
            padding-bottom: 10px  
            font-size: 1.5rem   
    .calendar
        color: var(--color_color_letras)
        align-items: left
        p
            color: gray