//título página
h1
   color: basic.$principal
   font-family: basic.$letra_acentos
   font-size: 7vw
   @media (max-width: 550px)
      font-size: 10vw
   text-align: center    

   margin-top: 3vw   